-----BEGIN CERTIFICATE-----
MIIDaDCCAlCgAwIBAgIJAMpZEMN7lri8MA0GCSqGSIb3DQEBCwUAMEIxCzAJBgNV
BAYTAlhYMRUwEwYDVQQHDAxEZWZhdWx0IENpdHkxHDAaBgNVBAoME0RlZmF1bHQg
Q29tcGFueSBMdGQwHhcNMTgwOTA0MTIyMDAwWhcNMjgwOTAxMTIyMDAwWjBCMQsw
CQYDVQQGEwJYWDEVMBMGA1UEBwwMRGVmYXVsdCBDaXR5MRwwGgYDVQQKDBNEZWZh
dWx0IENvbXBhbnkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA
uL4iXTXR46L8JBO33I3kde/w7V9X2Wu5FhjYJiWMdv++oKw2ztf+X42ExrZEjYHW
uUAIsQRAJIi4vU+aFyDKkRDuKWSQRLR8ACcXi6IdVuY6Lo21RIZRJcZ/Saj4DpJ2
qKQtSMM3LGYP3rrapHwMr1FDAj80NrC0uERi9HSz9+0I4czcCLcSvLh2R9cBaIJS
Ct2PQMTGunarHpBxueD564Q3poMqgQSdFbij1LWjamSLkHlaSZYSprNVby6E6vwZ
ZvLFH4NxSqkXdO3VLtYblYzaqZHxZ1MA09cAJG4jhVDGUGNWdABWUC0oIEtfaUTA
EfGX0ssn9IHFm+EvXxjybQIDAQABo2EwXzAPBgNVHREECDAGhwSsHxlhMB0GA1Ud
DgQWBBQCg9BP4tFyI9X1oCQXWRyhXcSURzAfBgNVHSMEGDAWgBQCg9BP4tFyI9X1
oCQXWRyhXcSURzAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQA/AvO5
RE28NXKZDEbhy1GopHGkDOJmvX8nJ97FVp2mMo6BjQNAsVdhsVTLbz90pFUh+XBi
JHcfqLMt1npneYEbz3+FaRqJRXD8dSplqRF+9wVefR1w0Ov/psPRLX5ooK9MMDkz
Be3ueeBq3hqNBkB4a4+N5gtiU0s6+UB1nxncbuCQSmhKc46Yk+AzEUpx6zwHvUYv
iK1Lf7rDve7xLp+nflqO57EI9eqBfeW8ATzwPioXLzupKhEJxyr9HIQENJSxHR7N
yuC4/FZtx87NFYOB2bLfsqMQHzCyUj2OMJNnv0A9/Nf93DXQkM9wLjwzg5BDRQ5l
scfRMHRu8HK1xuBB
-----END CERTIFICATE-----
